@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;800&display=swap');
 /*The stylings below control the websites font colors dimensions and are all directed towards pc/tablet sized design*/

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  color: #e1eeeb;
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 1rem auto;
  padding: 1rem 5rem 1rem 5rem;
  background: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.025);
}

/*From here onwards the stylings belong to the page content multistep form*/

.multi_step_form{
  width: 60rem;
  height: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: none;
  border: none;
}

.form-step-indicator{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0.5rem;
  width: 60rem;
  margin-bottom: 0rem;
  background-color: #f4f4f4;
  border-radius: 10rem;
}

.form-step-indicator-mobile{
  display: none;
}

.indicator-on{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 10rem;
  background-color: #09B285;
}

.indicator-off{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  font-size: 14px;
  font-weight: 600;
  color: #09B285;
  border-radius: 10rem;
  background-color: #ffffff;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.h2-title {
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  color: black;
}

.form-cell{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: fit-content;
  margin-bottom: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.025);
  border-radius: 1rem;
  padding: 1rem;
}

.insurance-grid-layout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 1rem;
  height: fit-content;
  max-width: 100%;
}

.form-grid-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 0.5rem;
}


/* .mini-grid-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 0;
} */

.payment-options-grid-layout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 0.5rem;
}

.payment-option-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 6rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #09B285;
}

.information-field{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: fit-content;
  margin-top: 0rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.025);
  border-radius: 1rem;
  padding: 0.5rem;
}

.space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.show-more-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #09B285;
  background-color: #ffffff;
  border: none;
  height: 3rem;
  max-width: fit-content;
  font-size: 12px;
  font-weight: 600;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 1rem;
  margin-right: 0rem;
}

.show-more-button:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #09B285;
  background-color: #ffffff;;
  border: 1px solid #09B285;
  border-radius: 10rem;
  height: 3rem;
  max-width: fit-content;
  font-size: 12px;
  font-weight: 600;
  padding: 1rem;
}

.more-information-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #09B285;
  background-color: #F8FFF9;
  margin-top: 0.5rem;
}

.more-info-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
  gap: 1rem;
  padding: 0.5rem;
}

.more-info-unit{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.insurance-cell{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: fit-content;
  border-radius: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.025);
  padding: 0.5rem;
}

.insurance-image{
  width: 70%;
  padding: 1rem;
}
.insurance-type{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.type-font{
  font-size: 14px;
  font-weight: 600;
  color: #09B285;
}

.insurer-price-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-radius: 0.5rem;
  border: 1.5px solid #09B285;
  margin-top: 0.5rem;
  padding: 0.5rem
}

.left-double-price-align{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
  padding: 0 0.25rem 0 0.25rem ;
}

.double-price-font{
  font-size: 15px;
  font-weight: 600;
  color: #09B285;
}

.insurance-price{
  margin-top: 1rem;
  font-size: 28px;
  font-weight: 600;
  color: gray;
}

.choose-insurance-button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #09B285;
  background-color: #ffffff;
  border: 1.5px solid #09B285;
  border-radius: 0.5rem;
  height: 3.4rem;
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

.choose-insurance-button:hover,
.choose-insurance-button:focus,
.choose-insurance-button:active{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #09B285;
  border-radius: 0.5rem;
  height: 3.4rem;
  width: 100%;
  font-size: 16px;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}


label{
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-bottom: 0rem;
  letter-spacing: 0.025rem;
}

input:active,
input:hover,
input:focus {
  padding: 1rem 1.25rem; 
  font-weight: 600;
  background: #ffffff;
  border: 1px solid rgb(0, 192, 0);;
  outline: none;
  margin-top: 0.75rem;
}

select:active,
select:hover,
select:focus {
  padding: 1rem 1.25rem; 
  font-weight: 600;
  background: #ffffff;
  border: 1px solid rgb(0, 192, 0);;
  outline: none;
  margin-top: 0.75rem;
}

input,
select {
  padding: 1rem 1.25rem;        /* vertical and horizontal padding */
  width: 100%;
  margin: 2rem auto;
  border-radius: 10rem;
  color: gray;
  font-weight: 400;
  background: #f4f4f4;
  border: 1px solid lightgray;
  margin-top: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;            /* forces consistent text height */
  appearance: none;            /* removes default browser styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
}


select {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='gray' d='M2 0L0 2h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1.25rem center;
  background-size: 0.65rem auto;
  padding-right: 2.5rem;
}

.datepicker-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: fit-content;
}

.datepicker-wrapper{
  width: 100%;
}

.custom-react-date {
  padding: 1rem 1.25rem;
  border-radius: 10rem;
  width: 100%;
  color: gray;
  font-weight: 600;
  background: #f4f4f4;
  border: 1px solid lightgray;
  margin-top: 0.75rem;
  font-size: 14px;
  line-height: 1.5;
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  position: relative;
}

.custom-react-date:active,
.custom-react-date:hover,
.custom-react-date:focus {
  padding: 1rem 1.25rem; 
  font-weight: 600;
  background: #ffffff;
  border: 1px solid rgb(0, 192, 0);
  outline: none;
  margin-top: 0.75rem;
}

.ambulant-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid #09B285;
  background-color: #F8FFF9;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.ambulant-title-two{
  font-size: 14px;
  font-weight: 800;
  color: black;
  margin-top: 1rem;
}

.green-price-field{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid #09B285;
  background-color: #F8FFF9;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sub-text-field{
  font-size: 16px;
  font-weight: 400;
  color: gray;
}

.sub-text-field-small{
  font-size: 20px;
  font-weight: 800;
  color: black;
  margin-top: 1rem;
}

.health-question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
}

.hearing-loss{
  font-size: 14px;
  font-weight: 400;
  line-height: 1rem;
  color: gray;
}

.yes-no-button{
  padding: 0.8rem 2rem 0.8rem 2rem;
  margin-left: 0.5rem;
  margin-top: 0rem;
}

.yes-no-button:active,
.yes-no-button:hover,
.yes-no-button:focus{
  padding: 0.8rem 2rem 0.8rem 2rem;
  margin-left: 0.5rem;
  margin-top: 0rem;
  background-color: #09B285;
  color: #ffffff;
}

.checkbox-text-hor{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

button{
  margin: 5rem auto;
  border-radius: 10rem;
  font-size: 18px;
  font-weight: 800;
  border: none;
  margin-top: 1rem;
  margin-bottom: 0;
}

.space-between-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  height: fit-content;
}

.continue-button{
  color: #ffffff;
  background: #09B285;
  font-weight: 800;
  width: 100%;
  font-weight: 800;
  font-size: 20px;
  padding: 1rem 8rem 1rem 8rem;
}

.back-button{
  color: #ffffff;
  background: lightgray;
  width: 100%;
  font-weight: 800;
  font-size: 20px;
  padding: 1rem 8rem 1rem 8rem;
}

.continue-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.complete-button{
  color: #ffffff;
  background: rgb(0, 192, 0);;
  font-weight: 800;
}

.captcha-image{
  width: 40%;
  padding: 0rem;
}


.custom-checkbox input[type="checkbox"] {
  appearance: none;            /* Remove default checkbox styling */
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 8px;
  transition: all 0.2s ease-in-out;
}

.custom-checkbox input[type="checkbox"]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.custom-checkbox input[type="checkbox"]:checked::after {
  content: '✔';
  position: absolute;
  left: 3px;
  top: -2px;
  font-size: 16px;
  color: white;
}

.split-a-bit{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


/* When the screen width hits 960px, we increase the global font size to 14px. This changes
     the scale of all of our relative units (the rems), keeping everything in proportion */

    /*From this point on we have stylings inside a media query that are triggered when the screen size is within the ranges of a smartphones screen dimensions*/

@media screen and (max-width: 45em) {


  .multi_step_form{
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    margin-top: 0.25rem;
    background-color: none;
    border: none;
    padding: 0.25rem;
  }
  
  
  .form-step-indicator{
    display: none;
  }

  .form-step-indicator-mobile{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem;
    width: 100%;
    height: fit-content;
    margin-bottom: 0rem;
    background-color: #f4f4f4;
    border-radius: 1rem;
  }
  
  .indicator-on{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 0.75rem;
    background-color: #09B285;
  }
  
  .indicator-off{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    font-size: 12px;
    font-weight: 600;
    color: rgb(0, 192, 0);;
    border-radius: 0.75rem;
    background-color: #ffffff;
  }

  h1 {
    font-size: 18px;
    font-weight: 600;
    color: black;
  }
  
  .h2-title {
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  h2 {
    font-size: 14px;
    font-weight: 400;
    color: black;
  }

  .form-cell{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: fit-content;
    margin-bottom: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.025);
    border-radius: 1rem;
    padding: 0.5rem;
  }
  
  .insurance-grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin-top: 0.5rem;
    height: fit-content;
    max-width: 100%;
    overflow: hidden;
  }
  
  .form-grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
  }


  .information-field{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 0rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.025);
    border-radius: 0.75rem;
    padding: 0.5rem;
  }
  
  .space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    min-width: 100%;
    padding: 0 0 0 0.25rem;
  }
  
  .show-more-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #09B285;
    background-color: #ffffff;
    border: none;
    height: 2.5rem;
    max-width: fit-content;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 1rem;
    margin-right: 0rem;
  }
  
  .show-more-button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #09B285;
    background-color: #ffffff;;
    border: 1px solid #09B285;
    border-radius: 10rem;
    height: 2.5rem;
    max-width: fit-content;
    font-size: 12px;
    font-weight: 600;
    padding: 1rem;
  }
  
  .more-information-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #09B285;
    background-color: #F8FFF9;
    margin-top: 0.5rem;
  }
  
  .more-info-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    gap: 1rem;
    padding: 0.5rem;
  }
  
  .more-info-unit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .insurance-cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    height: fit-content;
    border-radius: 0.75rem;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.025);
    padding: 0.5rem;
  }

  .insurance-image{
    width: 90%;
    padding: 1rem;
  }

  .type-font{
    font-size: 14px;
    font-weight: 600;
    color: gray;
  }
  
  .insurer-price-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-radius: 0.5rem;
    border: 1.5px solid #09B285;
    margin-top: 0.5rem;
    padding: 0.5rem
  }
  
  .left-double-price-align{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    padding: 0 0.25rem 0 0.25rem ;
  }
  
  .double-price-font{
    font-size: 12px;
    font-weight: 600;
    color: gray;
  }
  
  .insurance-price{
    margin-top: 0.75rem;
    font-size: 20px;
    font-weight: 800;
    color: gray;
  }

  .choose-insurance-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #09B285;
    background-color: #ffffff;
    border: 1.5px solid #09B285;
    border-radius: 0.5rem;
    height: 3.4rem;
    width: 100%;
    font-size: 16px;
    font-weight: 800;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
  }
  
  .choose-insurance-button:hover,
  .choose-insurance-button:focus,
  .choose-insurance-button:active{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #09B285;
    border-radius: 0.5rem;
    height: 3.4rem;
    width: 100%;
    font-size: 16px;
    font-weight: 800;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
  }
  

  .ambulant-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #09B285;
    background-color: #F8FFF9;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
  }
  

  .green-price-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: 1px solid rgb(0, 192, 0);;
    background-color: rgb(245, 255, 245);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .ambulant-title-two{
    font-size: 14px;
    font-weight: 800;
    color: black;
    margin-top: 1rem;
  }
  
  .sub-text-field{
    font-size: 14px;
    font-weight: 400;
    color: gray;
  }
  
  .sub-text-field-small{
    font-size: 18px;
    font-weight: 800;
    color: black;
    margin-top: 0.5rem;
  }
  
  .checkbox-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .align-text-vert{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    padding-left: 0.5rem;
  }
  
  .space-between-buttons{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .continue-button{
    color: #ffffff;
    background: #09B285;
    font-weight: 800;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    padding: 1rem 8rem 1rem 8rem;
  }
  
  .back-button{
    color: #ffffff;
    background: lightgray;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    padding: 1rem 8rem 1rem 8rem;
  }
  
  .complete-button{
    color: #ffffff;
    background: #09B285;
    font-weight: 800;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    padding: 1rem 8rem 1rem 8rem;
  }

  button{
    margin: 5rem auto;
    border-radius: 10rem;
    font-size: 18px;
    font-weight: 800;
    border: none;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .captcha-image{
    width: 50%;
    padding: 0rem;
  }

}